<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">
    <link rel="icon" href=" images/infoxx.png">
  </head>
  <style>
          body {
	background-image: url(" images/gameon.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 
  </style>
  <body>

    
    <nav class="navbar navbar-default" style = " background-color: black; ">
       <div class="container-fluid">
          <div class="navbar-header">
             <img src = "images/logo.png" height  = "80 px">
          </div>
             <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><img src ="images/infoxx.png" height  = "80 px"></li>

                </ul>
              </div>
            </div>
          </nav>

<h1 style="color:rgb(103, 179, 250);text-align:center;text-shadow: 3px 2px white"> RULES </h1>

<div class = "container" style = "background-color:rgb(196, 186, 186)"> 
    
<p style="color:rgb(0, 39, 75);text-align:center;">1)You get only 60 minutes to code. 
   
   
</p>
<p style="color:rgb(4, 53, 99);text-align:center;">
    2)First team to complete all problems wins.
</p>
<p style="color:rgb(0, 46, 88);text-align:center;">
     3) For Round 1:- Write code for problems given in round 1. Your team members will solve the riddles and the answers generated will be used to get output from the coding problem.
</p>

<p style="color:rgb(0, 46, 88);text-align:center;">
    4) Be the fastest in solving the problems in the final round.</p>

<p style="color:rgb(0, 46, 88);text-align:center;">
    5) Register here if team is not yet registered :- bit.ly/codeventure2019 </p>

</div>
<button style = " margin:auto;
display:block;" class="btn btn-danger" >
<a href ="/round1" style ="color:white" > Start Test</a>
</button>

<% include partials/footer %>
