<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">
  </head>
  <style>
          body {
	background-image: url(" images/gameon.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 
  </style>
  <body>

    
    <nav class="navbar navbar-default" style = " background-color: black; ">
       <div class="container-fluid">
          <div class="navbar-header">
             <img src = "images/logo.jpg" height  = "80 px">
          </div>
             <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><img src ="images/infox.jpg" height  = "80 px"></li>

                </ul>
              </div>
            </div>
          </nav>

<h1 style="color:rgb(103, 179, 250);text-align:center;text-shadow: 3px 2px rgb(9, 39, 83)"> Congratulations! Please join your team with the solutions. </h1>



<% include partials/footer %>
