<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">

    <link rel="icon" href=" images/infoxx.png">

    <style>
        body {
background-image: url(" images/gradient.jpg");
      background-repeat:no-repeat;
     background-size:cover;
} 
</style>

    

  </head>
  <body>
      <nav class="navbar navbar-default" style = " background-color: black; ">
          <div class="container-fluid">
             <div class="navbar-header">
                <img src = " images/logo.png" height  = "80 px">
             </div>
                <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                     <li><img src =" images/infoxx.png" height  = "80 px"></li>
   
                   </ul>
                 </div>
               </div>
             </nav>
   


             <div class="container">
<header class="jumbotron"  style="background:transparent url('images/locked1.jpg') no-repeat center center /cover">

<h1 style = " color :rgb(128, 128, 128); text-shadow: 3px 2px rgb(150, 111, 111)">RIDDLES</h1>
  <a href ="#anchora"><p  style="display:inline-block ">Riddle 1    |</p></a>
  <a href ="#anchorb"><p style="display:inline-block">Riddle 2    |</p></a>
  <a href ="#anchorc"><p style="display:inline-block ">Riddle 3    |</p></a>
  <a href ="#anchord"><p style="display:inline-block ">Riddle 4     |</p></a>



  <form action="/riddles" method="POST">
    <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="ridA" placeholder = "Solution for 1">
     </div>
    <div class="form-group" style="display:inline-block">
     <input class="form-control" type="number" name="ridB" placeholder = "Solution for 2">
  </div>
  <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="ridC" placeholder = "Solution for 3">
  </div>
  <div class="form-group" style="display:inline-block">
      <input class="form-control" type="number" name="ridD" placeholder = "Solution for 4">
    </div>
  <div class="form-group"  style="display:inline-block">
    <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
  </div>
  </form>

  <p style = " color :rgb(202, 202, 202)">Note:Page will keep reloading until all answers are correct.<br>These solutions will be used as input for corresponding coding problem</p>
  </header>

</div>

<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h3 id = "anchora" style = " color :blue">Problem 1</h3>
    <p style="color:rgb(53, 52, 52) "> Sherlock relapsed again!! A dealer gave him 5 dose to take every 30 minutes. How many
      minutes will it take him to finish the dose if he follows the dealers orders?</p>
    </div>
    </header>
  </div>

  <div class="container">
  <header class="jumbotron">
    <div class="container">
    <h3 id = "anchorb" style = " color :blue">Problem 2</h3>
      <p  style="color:rgb(71, 70, 70) ">If three Policemen can catch three criminals in seven minutes, how many criminals can 
        six policemen catch in seventy minutes?</p>
      </div>
      </header>
    </div>
  
      <div class="container">
    <header class="jumbotron">
        <div class="container">
        <h3 id ="anchorc" style = " color :blue">Problem 3</h3>
          <p  style="color:rgb(68, 67, 67) "> What is the smallest whole number which is equal to 7 times the sum of its digits?</p>
          </div>
          </header>
        </div>
      
          <div class="container">
        <header class="jumbotron">
            <div class="container">
            <h3 id = "anchord" style = " color :blue">Problem 4</h3>
              <p  style="color:rgb(65, 65, 65) ">John Watson finds a magical pool. Every time he jumps in the pool, 
                the width shrinks by 1/3 and the length shrinks by 1/2. He jumps in the pool a total 
                of 3 times. The final area of the pool is 4 sq. metres. The pool was originally 9 metres 
                wide. What was the original length?</p>
              </div>
              </header>
            </div>
             


</div>
</body>
</html>

