<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">

    
    <style>
        body {
background-image: url(" images/gradient.jpg");
      background-repeat:no-repeat;
     background-size:cover;
} 
</style>


    

  </head>
  <body>
      <nav class="navbar navbar-default" style = " background-color: black; ">
          <div class="container-fluid">
             <div class="navbar-header">
                <img src = "images/logo.jpg" height  = "80 px">
             </div>
                <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                      <li><a href="useide" target="_blank" rel="noopener noreferrer"><h1 style = " color :rgb(247, 240, 240); text-shadow: 3px 2px rgb(150, 111, 111)">Use IDE</h1></a></li>
                     <li><img src ="images/infox.jpg" height  = "80 px"></li>
   
                   </ul>
                 </div>
               </div>
             </nav>
<div class="container">
<header class="jumbotron"  style="background:transparent url('images/locked1.jpg') no-repeat center center /cover">
                
<h1 style = " color :rgb(128, 128, 128); text-shadow: 3px 2px rgb(150, 111, 111)">ROUND 2</h1>
<a href ="#anchor1"><p style="display:inline-block">Riddle E     |</p></a>
  <a href ="#anchor2"><p style="display:inline-block">Riddle F     |</p></a>
    <a href ="#anchor3"><p style="display:inline-block ">Problem 5    |</p></a>



  <form action="/round2ey6" method="POST">
    <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="ridA" placeholder = "Riddle A Answer">
     </div>
    <div class="form-group" style="display:inline-block">
     <input class="form-control" type="number" name="ridB" placeholder = "Riddle B Answer">
  </div>
  <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="prob5" placeholder = "Problem 5 Answer(Input is A+B">
  </div>
  <div class="form-group" style="display:inline-block">
    <button class="btn btn-lg btn-primary btn-block" > Submit!</button>
  </div>
  </form>
  <p style = " color :rgb(202, 202, 202)">Note:Page will keep reloading until all answers are correct.</p>
  </header>
</div>



<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h3 id = "anchor1" style = " color :blue">Riddle A</h3>
    <p>The sherlock has entered his mind palace. The chances of Sherlock remembering
      Craig's name is in 30 minutes is 95%. What are the chances that he'll remember it in
      10 minutes??</p>
    </div>
    </header>
  </div>

  <div class="container">
  <header class="jumbotron">
    <div class="container">
    <h3 id = "anchor2" style = " color :blue">Riddle B</h3>
      <p>It's Sherlock's Birthday!! And there is a round cake with nine candles stuck in it, 
        arranged in a circle along the edges. The candles are magical and Watson has given 
        Sherlock the challenge to blow all the candles. But there is a catch!! Once he blow
        out one candle, the adjacent candles will also be extinguished. If he blow on an
        extinguished candle, it will reignite, and also change the state of its adjacent candles.
        Basically when he blow on a candle, it - as well as the candles on either side - will go
        from lit to unlit, and vice versa. Since Sherlock is the laziest person in the world. He
        wants to reduce the effort. How can he go about extinguishing all of the candles with
        the fewest blows??<br>
        Note:-Round off to nearest whole number
      </p>
      </div>
      </header>
    </div>
  
     
      
          <div class="container">
        <header class="jumbotron">
            <div class="container">
            <h3 id = "anchor3">Problem 5</h3>
              <p></p>
              </div>
              </header>
            </div>
             


</div>
</body>
</html>

