<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">

    <link rel="icon" href=" images/infoxx.png">

    <style>
        body {
background-image: url(" images/gradient.jpg");
      background-repeat:no-repeat;
     background-size:cover;
} 
</style>

    

  </head>
  <body>
      <nav class="navbar navbar-default" style = " background-color: black; ">
          <div class="container-fluid">
             <div class="navbar-header">
                <img src = "images/logo.png" height  = "80 px">
             </div>
                <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                     
                     <li><img src ="images/infoxx.png" height  = "80 px"></li>
   
                   </ul>
                 </div>
               </div>
             </nav>
   


             <div class="container">
<header class="jumbotron"  style="background:transparent url('images/locked1.jpg') no-repeat center center /cover">

<h1 style = " color :rgb(128, 128, 128); text-shadow: 3px 2px rgb(150, 111, 111)">ROUND 1</h1>
  <a href ="#anchora"><p  style="display:inline-block ">Problem A     |</p></a>
  <a href ="#anchorb"><p style="display:inline-block">Problem B     |</p></a>
  <a href ="#anchorc"><p style="display:inline-block ">Problem C    |</p></a>
  <a href ="#anchord"><p style="display:inline-block ">Problem D     |</p></a>



  <form action="/round1" method="POST">
    <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="probA" placeholder = "Output from A">
     </div>
    <div class="form-group" style="display:inline-block">
     <input class="form-control" type="number" name="probB" placeholder = "Output from B">
  </div>
  <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="probC" placeholder = "Output from C">
  </div>
  <div class="form-group" style="display:inline-block">
      <input class="form-control" type="number" name="probD" placeholder = "Output from D">
    </div>
  <div class="form-group"  style="display:inline-block">
    <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
  </div>
  </form>

  <p style = " color :rgb(202, 202, 202)">Note:Page will keep reloading until all answers are correct.</p>
  </header>

</div>

<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h3 id = "anchora">Problem A</h3>
    <pre>   Sherlock is very close to finding the code to unlock any door on the planet. But Moriarity has encoded it effeciently in
      Binary digits. But Sherlock has deduced that the code doesn't contains consecutive 1's. So to increase the probability, he has
      to find all such possible distinct binary strings of length N. N is the output of the 1st riddle divided by 4.
    
    </pre>
    <h6>Note:- Answer of Riddle 1 Will be used here.</h6>
    </div>
    <a href="useide" target="_blank" rel="noopener noreferrer"><img src ="images/idebutton.png" height  = "60 px"></a>
    </header>
  </div>

  <div class="container">
  <header class="jumbotron">
    <div class="container">
    <h3 id = "anchorb">Problem B</h3>
      <pre>        Prime Progressive Arrays as the name suggests are the arrays which contain Prime number and are progressed. That means
        If we have given N Prime Progressive Arrays, the first P.P.A contains the first prime number, the second P.P.A contains the
        next 2 primes and the third P.P.A contains the next 3 primes and so on. The problem is to find the sum of primes in the Nth
        P.P.A, where N is the output of 2nd Riddle.   
      
      </pre>
      <h6>Note:- Answer of Riddle 2 Will be used here.</h6>
      </div>
      <a href="useide" target="_blank" rel="noopener noreferrer"><img src ="images/idebutton.png" height  = "60 px"></a>
     </header>
    </div>
  
      <div class="container">
    <header class="jumbotron">
        <div class="container">
        <h3 id ="anchorc">Problem C</h3>
          <pre> Sherlock has 12 cigarettes and he wants to hide them from Dr. Watson. He has "r" no.
            of places to hide the cigarettes and each place can hold 1 cigarette. Show sherlock in how
            many ways can he accomplish this task. where "r" is the output of 3rd Riddle divided by 3. </pre>
            <h6>Note:- Answer of Riddle 3 Will be used here.</h6>
          </div>
          <a href="useide" target="_blank" rel="noopener noreferrer"><img src ="images/idebutton.png" height  = "60 px"></a>
        </header>
        </div>
      
          <div class="container">
        <header class="jumbotron">
            <div class="container">
            <h3 id = "anchord">Problem D</h3>
              <pre> Sherlock likes to experiment, so he deduced a new methodology of Fibo series. He defines a Fibo function as
                Fibo(n)=Fibo(n-1)(xor)Fibo(n-2)
                where Fibo(0)=1,
                  and   Fibo(1)=2.
                Helps Sherlock in Finding Fibo(r), where "r" is the output of 4th Riddle.</pre>
                <h6>Note:- Answer of Riddle 4 Will be used here.</h6>
              </div>
              <a href="useide" target="_blank" rel="noopener noreferrer"><img src ="images/idebutton.png" height  = "60 px"></a>
            </header>
            </div>
             


</div>
</body>
</html>

