<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">

    

    <style>
        body {
background-image: url(" images/gradient.jpg");
      background-repeat:no-repeat;
     background-size:cover;
} 
</style>

    

  </head>
  <body>
      <nav class="navbar navbar-default" style = " background-color: black; ">
          <div class="container-fluid">
             <div class="navbar-header">
                <img src = "images/logo.jpg" height  = "80 px">
             </div>
                <div class="collapse navbar-collapse">
                   <ul class="nav navbar-nav navbar-right">
                      <li><a href="useide" target="_blank" rel="noopener noreferrer"><h1 style = " color :rgb(245, 237, 237); text-shadow: 3px 2px rgb(150, 111, 111)">Use IDE</h1></a></li>
                     <li><img src ="images/infox.jpg" height  = "80 px"></li>
   
                   </ul>
                 </div>
               </div>
             </nav>
   


             <div class="container">
<header class="jumbotron"  style="background:transparent url('images/locked1.jpg') no-repeat center center /cover">

<h1 style = " color :rgb(128, 128, 128); text-shadow: 3px 2px rgb(150, 111, 111)">ROUND 1</h1>
  <a href ="#anchora"><p  style="display:inline-block ">Problem A     |</p></a>
  <a href ="#anchorb"><p style="display:inline-block">Problem B     |</p></a>
  <a href ="#anchorc"><p style="display:inline-block ">Problem C    |</p></a>
  <a href ="#anchord"><p style="display:inline-block ">Problem D     |</p></a>



  <form action="/round1" method="POST">
    <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="probA" placeholder = "Output from A">
     </div>
    <div class="form-group" style="display:inline-block">
     <input class="form-control" type="number" name="probB" placeholder = "Output from B">
  </div>
  <div class="form-group" style="display:inline-block">
    <input class="form-control" type="number" name="probC" placeholder = "Output from C">
  </div>
  <div class="form-group" style="display:inline-block">
      <input class="form-control" type="number" name="probD" placeholder = "Output from D">
    </div>
  <div class="form-group"  style="display:inline-block">
    <button class="btn btn-lg btn-primary btn-block"> Submit!</button>
  </div>
  </form>

  <p style = " color :rgb(202, 202, 202)">Note:Page will keep reloading until all answers are correct.</p>
  </header>

</div>

<div class="container">
  <header class="jumbotron">
  <div class="container">
  <h3 id = "anchora">Problem A</h3>
    <pre>       Sherlock is very close to finding the code to unlock any door on the planet. But Moriarity has encoded it effeciently in
      Binary digits. But Sherlock has deduced that the code doesn't contains consecutive 1's. So to increase the probability, he has
      to find all such possible distinct binary strings of length N. N is the output of the 1st riddle divided by 4.
    
    </pre>
    <h6>Note:- Give answer of riddle A as input in your code. The Output thus generated will be Secret code for A.</h6>
    </div>
    <a href="useide" target="_blank" rel="noopener noreferrer"><h3 style = " color :rgb(14, 11, 11); text-shadow: 3px 2px blue">Use IDE</h3></a>
    </header>
  </div>

  <div class="container">
  <header class="jumbotron">
    <div class="container">
    <h3 id = "anchorb">Problem B</h3>
      <pre>        Prime Progressive Arrays as the name suggests are the arrays which contain Prime number and are progressed. That means
        If we have given N Prime Progressive Arrays, the first P.P.A contains the first prime number, the second P.P.A contains the
        next 2 primes and the third P.P.A contains the next 3 primes and so on. The problem is to find the sum of primes in the Nth
        P.P.A, where N is the output of 2nd Riddle.
      
      
        
      
      </pre>
      <h6>Note:- Give answer of riddle B as input in your code. The Output thus generated will be Secret code for B.</h6>
      </div>
      <a href="useide" target="_blank" rel="noopener noreferrer"><h3 style = " color :rgb(14, 11, 11); text-shadow: 3px 2px blue">Use IDE</h3></a>
      </header>
    </div>
  
      <div class="container">
    <header class="jumbotron">
        <div class="container">
        <h3 id ="anchorc">Problem C</h3>
          <pre>           Sherlock is bored today, so he took a rubber band and now trying to form an arbitary shape. above all shapes. The shape
            that really fancies him was the triangle. So he created a small triangle with it, putted on the table and starts putting round
            candies inside it in an unsual manner as described as follows:
            -> He puts 1 candy in the 1st row.
            -> then he puts 2 candies in the 2nd row. 
            -> then 3 candies in the 3rd row.
            -> and so on,
            So whenever he is putting candies in the triangle, triangle is expanding and forming a bigger triangle. Considering 
            infinite elasticity of the rubber band. Sherlock wants to form a triangle with maximum possible height using at most K
            coins. So what would be the maximum possible height of the triangle formed by Sherlock, where K is the output of the 3rd
            Riddle.</pre>
            <h6>Note:- Give answer of riddle C as input in your code. The Output thus generated will be Secret code for C.</h6>
          </div>
          <a href="useide" target="_blank" rel="noopener noreferrer"><h3 style = " color :rgb(14, 11, 11); text-shadow: 3px 2px blue">Use IDE</h3></a>
          </header>
        </div>
      
          <div class="container">
        <header class="jumbotron">
            <div class="container">
            <h3 id = "anchord">Problem D</h3>
              <pre>             What is the maximum number of squares of size 2*2 that can be fit in a right angled isosceles triangle of base B.
                One side of the square must be parallel to the base of the isosceles triangle.
                Base is the shortest side of the triangle. where B is the output of the 4th Riddle.</pre>
                <h6>Note:- Give answer of riddle D as input in your code. The Output thus generated will be Secret code for D.</h6>
              </div>
              <a href="useide" target="_blank" rel="noopener noreferrer"><h3 style = " color :rgb(14, 11, 11); text-shadow: 3px 2px blue">Use IDE</h3></a>
              </header>
            </div>
             


</div>
</body>
</html>

