<!DOCTYPE html>
<html>
  <head>
    <title>CodeVenture-Infox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/stylesheets/bootstrap.css">
    <link rel="icon" href=" images/infoxx.png">
  </head>
  <style>
          body {
	background-image: url(" images/gradient.jpg");
        background-repeat:no-repeat;
       background-size:cover;
} 
  </style>

<script>SEC_HTTPS = true;
        SEC_BASE = "compilers.widgets.sphere-engine.com"; 
        (function(d, s, id){ SEC = window.SEC || (window.SEC = []);
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; 
          js.src = (SEC_HTTPS ? "https" : "http") + "://" + SEC_BASE + "/static/sdk/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);   
        }(document, "script", "sphere-engine-compilers-jssdk"));
        </script>
  <body>

    
    <nav class="navbar navbar-default" style = " background-color: black; ">
       <div class="container-fluid">
          <div class="navbar-header">
             <img src = "images/logo.jpg" height  = "80 px">
          </div>
             <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                  <li><img src ="images/infox.jpg" height  = "80 px"></li>

                </ul>
              </div>
            </div>
          </nav>


          <div class="sec-widget"  data-widget="8d828fac9488999cabcb73752eeb4e8b"></div>

<% include partials/footer %>
